#about-info {
    min-height: 30vh;
    background: rgb(96, 95, 95);
}


#about img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 20px 20px 20px #000;
}
.ruel{
  padding-top: 150px;

}

#about img:hover {
  width: 350px;
  transition: all .5s ease;
}

#about span:hover {
  color: #1622c9;
  filter: drop-shadow(0 0 0.75rem purple);
  text-shadow: 0 0 20px purple, 0 0 40px purple;
  transition: all 0.4s ease;
}

#about span {
  font-size: 18px;
  text-decoration: none;
  color: rgb(37, 37, 37); 
  font-weight: bold;
}

#about {
  background: transparent;
  padding-top: 20px;
padding-bottom: 30px;
}
.card shadow{
  background: transparent;

}
.card{
  background: transparent;

}