.navbar{
  background: rgb(75, 74, 74); 
}
.navbar .navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
    color: rgb(11, 11, 11);
    text-shadow: 0 0 20px #2f2e2f, 0 0 40px #1f1e1f;
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand:hover {
    color: #fcfafb;
    filter: drop-shadow(0 0 0.75rem rgb(50, 49, 50));
    text-shadow: 0 0 20px rgb(33, 31, 33), 0 0 40px rgb(62, 61, 62);
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand {
    color: rgb(246, 241, 241);
  }
  
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    text-decoration: none;
    color: rgb(243, 243, 243);
    font-weight: bold;
  }
  
  .navbar .navbar-nav .nav-item .nav-link.active {
    background-color: purple;
    border-radius: 10px;
    font-weight: bold;
    color: #151414;
  }